---
export interface Props {
    title: string;
    description: string;
    postdate: string;
    url: string;
}

const { title, description, postdate, url } = Astro.props as Props;
---

<section class="blog-preview link-parent column gap-small">
    <a href={url}>
        <h2 class="link">{title}</h2>
    </a>
    <p>{description}</p>
    <header class="row gap-small">
        <a href={url}>
            <button>Read more</button>
        </a>
        <time>{postdate}</time>
    </header>
</section>

<style>
    section.blog-preview {
        border: 1px var(--color-primary) solid;
        padding: 0.5rem 1rem;
        transition: all 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
    }

    section.blog-preview h2 {
        font-size: var(--font-size-med);
    }

    section.blog-preview:hover *:is(h2) {
        color: var(--color-primary-dark);
    }

    section.blog-preview.link-parent:hover {
        transform: scale(1.05);
        box-shadow: 8px 4px 0px var(--color-primary-transparent);
    }

    section.blog-preview *:is(h2, p, time) {
        margin: 0;
    }

    p,
    time {
        font-size: var(--font-size-s);
    }

    time {
        color: var(--color-primary);
        font-weight: 600;
    }
</style>
