---
export interface Props {
    title: string;
    description: string;
    postdate: string;
    url: string;
}

const { title, description, postdate, url } = Astro.props as Props;
---

<section class="link-parent column">
    <header class="row">
        <a href={url}>
            <h2 class="link">{title}</h2>
        </a>
        <time>{postdate}</time>
    </header>
    <p>{description}</p>
    <a href={url}>
        <button>Read more</button>
    </a>
</section>

<style>
    section {
        border: 1px var(--color-primary) solid;
        padding: 0.5rem 1rem;
        transition: all 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
    }

    section.link-parent:hover {
        transform: scale(1.05);
        box-shadow: 8px 4px 0px var(--color-primary-transparent);
    }

    h2,
    p,
    time {
        margin: 0;
    }

    a {
        width: max-content;
    }

    /* On Mobile */
    @media only screen and (max-width: 768px) {
        section h2 {
            font-size: 1.5rem;
        }
    }
</style>
