---
export interface Props {
    title: string;
    description: string;
    postdate: string;
    url: string;
}

const { title, description, postdate, url } = Astro.props as Props;
---

<section class="blog-preview link-parent column gap-small">
    <header class="row gap-small">
        <a href={url}>
            <h2 class="link">{title}</h2>
        </a>
        <time>{postdate}</time>
    </header>
    <p>{description}</p>
    <a href={url}>
        <button>Read more</button>
    </a>
</section>
